*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* kinds body bg  */
#register-body{
    background: linear-gradient(green , navy ,purple);
    position: relative;
    transition: 3s all ease;
    height: 100vh;
    overflow: hidden;
}
#register-body::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(2, 2, 26, 0.527);
    height: 100%;
    min-width: 110%;
    border-radius: 0%;
    transform: rotate(46deg);
    transition: 2s all ease;
    z-index: 1;
}
#register-body::after{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    background: rgba(8, 142, 175, 0.849);
    height: 100%;
    min-width: 190%;
    border-radius: 0%;
    transform: rotate(-39deg);
    transition: 2s all ease;
    z-index: 1;
}
/* qurxinta Registration form */
.register{
    z-index: 2;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-size: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    background: rgba(11, 5, 63, 0.274);

}
.register fieldset{
    z-index: 2;
    padding: 10px;
    color: white;
    border: none;
    outline: none;
    background: rgba(11, 5, 63, 0.157);
}
.register fieldset h1{
    padding: 5px;
    color: white;

}
.register form{
    z-index: 2;
    padding: 10px;
    width: 50% auto;
    display: flex;
    height: 450px;
    line-height: 3;
    position: relative;
    background: rgba(11, 5, 63, 0.157);

}
.register form .left{
    width: 45%;
    padding: 10px;
    background-size: cover;
    background-position: center center;
}

.register form .right{
    width: 55%;
    padding: 10px;
    background-size: cover;
    background-position: center center;
}


.register form p{
    padding: 5px;
}


/* all inputs  */
.register form p select, input{
    padding: 6px;
    background: transparent;
    border: none;
    outline: none;
    color: white;
    border-bottom: 1px solid rgb(211, 205, 205);
}
.register form p select, input:focus-visible{
    background: transparent;
}
.register form p input::placeholder{
    color: #ccc;
    background: transparent;
}

/* for reset ,  and submit  */
.register form p input[type=submit]{
    background: rgb(63, 218, 16);
    width: 100px;
    padding: 10px;
    color: white;
    font-weight: bold;
    height: 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
}
.register form p input[type=submit]:hover{
    background: rgb(8, 8, 87);
    outline: 2px solid rgba(4, 4, 179, 0.527);
}
.register form p input[type=reset]{
    background: rgb(207, 4, 4);
    width: 100px;
    padding: 10px;
    color: white;
    font-weight: bold;
    height: 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
}
/* for selection and text area */

.register form p select{
    background: rgba(8, 1, 22, 0.966);
    width: 100px;
    border-radius: 5px;
    border: none;    
}

.register form p textarea{
    padding: 5px;
    background: transparent;
    border: none;
    outline: none;
    width: 100%;
    color: white;
    border-bottom: 1px solid rgb(211, 205, 205);
}


/* icons imgaes */
.icons {
    z-index: 2;
    justify-content: center;
    align-items: center;
    height: 50px;
    display: flex;
}
.icons a, img{
    width: 50px;
    cursor: pointer;
    margin: 5px;
}